/*Black theme*/
.url-bar-header,
.url-bar,
.active,
.button {
	background: #35363A;
}
.window-caption,
.window-content,
.nav,
.buttons {
	background: black;
}
.button:hover, 
.dropdown-item:hover {
	background: #454649;
}
span:before,
.fas {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
.close {
	color: white;
}
.url-bar:hover {
	background: #292A2D;
}
.url-bar {
	color: white;
}
#popover-content-domain-form,
.popover,
.dropdown-item {
	background: #35363A;
	color: white;
}