body {
	margin:0px;
}
body, html {
	overflow: hidden;
}

.drag {
	 -ms-overflow-style: scrollbar;-webkit-app-region:drag;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
a,
span,
textarea {
	-webkit-app-region: no-drag;
}

.nav {
	background-color: #eee;
	padding-left:0px;
	margin: 0;
	width: 100%;
}

/*.nav-tabs > li{
	width: 180px;
}*/
.nav-tabs > li > a{
	padding: 0;
	padding-left: 10px;
	/*width: 150px;*/
}

.nav-tab {
	max-width: 180px;
	/*text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;*/
}

/*.nav-tabs > li > a > span{
	width: 100px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}*/

.tab-title-bar{
	max-width: 100px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.nav-tabs > li.active > a{
  background-color: #f7f7f7;
  /*color:#d0d2d4;*/
  border-left: 2px solid #ff3939;
}

.active{
	background-color: #f7f7f7;
}

.url-bar-header {
	/*height: 50px;*/
	background-color: #f7f7f7;
	padding:3px;
}

.url-bar {
	width: 100%;
	outline: none;
    font-size: 14px;
    background: white;
    padding: 2;
    padding-right: 12px;
    padding-left: 12px;
    border: 1px solid gainsboro;
    white-space: nowrap;
    overflow: hidden;
	border-radius: 4px;
}

.url-bar-buttons{
	outline: none;
	vertical-align: middle;
	display: inline-block;
	width: 130px;
}

.url-bar-container{
	vertical-align: middle;
	display: inline-block;
	width: calc(100% - 211px);
}

.webview {
	width: 100%;
	height:calc(100% - 42px);
}

.show{
	display: block;
}
.hide{
	display: none;
}

.inline{
	display: inline-block;
	vertical-align: middle;
}

.url-bar-button{
	outline: none;
	background-color: #f7f7f7;
}
.url-bar-menu-button{
	vertical-align: middle;
}
/*.popover-header {
    color: blue;
    font-size: 15px;
}*/
.popover-body {
	padding: 0;
    /*color: red;
    font-size: 10px;*/
}
.dropdown-item:focus{
	background-color: #eee;
	color:#000;
}
.dropdown-item:hover{
	background-color: #eee;
	color:#000;
}

.close {
	float: right;
	margin-right: 12px;
	font-size:8px;
	margin-top: 2px;
  position: relative;
  cursor: pointer;
 /* display: inline-block;
  width: 50px;
  height: 50px;*/
  overflow: hidden;
}

.close:hover{
	color:rgb(200,50,20);
}
/*.close:hover::before, .close:hover::after {
  background: #bd1010;
}*/
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 8px;
  top: 75%;
  left: 8;
  margin-top: -1px;
  /*background: #929292;*/
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close.black::before, .close.black::after {
  /*height: 8px;*/
  margin-top: -4px;
}

.prepend {
	padding-top:0;
}

.menu {
	position: absolute;
	width: 200px;
	padding: 2px;
	margin: 0;
	border: 1px solid #bbb;
	background: #eee;
	background: -webkit-linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);
	background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);
	z-index: 100;
	border-radius: 3px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
	opacity: 0;
	-webkit-transform: translate(0, 15px) scale(.95);
	transform: translate(0, 15px) scale(.95);
	transition: transform 0.1s ease-out, opacity 0.1s ease-out;
	pointer-events: none;
	display: none;
}

.menu-item {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.menu-btn {
	background: none;
	line-height: normal;
	overflow: visible;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: block;
	width: 100%;
	color: #444;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	text-align: left;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 8px;
	border-radius: 3px;
}

.menu-btn::-moz-focus-inner,
.menu-btn::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.menu-text {
	margin-left: 25px;
}

.menu-btn .fa {
	position: absolute;
	left: 8px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.menu-item:hover>.menu-btn {
	color: #fff;
	outline: none;
	background-color: #2E3940;
	background: -webkit-linear-gradient(to bottom, #5D6D79, #2E3940);
	background: linear-gradient(to bottom, #5D6D79, #2E3940);
	border: 1px solid #2E3940;
}

.menu-item.disabled {
	opacity: .5;
	pointer-events: none;
}

.menu-item.disabled .menu-btn {
	cursor: default;
}

.menu-separator {
	display: block;
	margin: 7px 5px;
	height: 1px;
	border-bottom: 1px solid #fff;
	background-color: #aaa;
}

.menu-item.submenu::after {
	content: "";
	position: absolute;
	right: 6px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	border: 5px solid transparent;
	border-left-color: #808080;
}

.menu-item.submenu:hover::after {
	border-left-color: #fff;
}

.menu .menu {
	top: 4px;
	left: 99%;
}

.menu-item:hover>.menu {
	-webkit-transform: translate(0, 0) scale(1);
	transform: translate(0, 0) scale(1);
	pointer-events: auto;
}

.menu-item:hover>.menu {
	-webkit-transition-delay: 100ms;
	transition-delay: 300ms;
}
.show-menu {
	display: block;
}