<link rel="shortcut icon" type="image/png" href="../assets/icons/icon.ico"/>
<title>saturn://history</title>
<style>
* {
  box-sizing: border-box;
}
.history-page {
	margin:0px;
	/*color:#abb2bf;*/
	font-family:system-ui;
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	/*background-color:#282c34;*/
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.btn {
  display: inline-block;
  cursor: pointer;
  color: #777;
  border-radius: 2px;
  background: #fafafa;
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  height: 25px;
  line-height: 2;
  padding: 0 8px;
  letter-spacing: .2px;
  height: 26px;
  font-weight: 400;
}
.btn * {
  cursor: pointer;
  line-height: 25px;
  vertical-align: baseline;
  display: inline-block;
}
.btn:focus {
  outline-color: #007aff;
}
.btn:hover {
  text-decoration: none;
  background: #f0f0f0;
}
.btn.disabled,
.btn:disabled {
  cursor: default;
  color: #999999;
  border: 1px solid #ccc;
  box-shadow: none;
}
.btn.disabled .spinner,
.btn:disabled .spinner {
  color: #aaa;
}
.btn.primary {
  -webkit-font-smoothing: antialiased;
  font-weight: 800;
  background: #007aff;
  color: #fff;
  border: none;
  transition: background .1s ease;
}
.btn.primary:hover {
  background: #0074f2;
}
a.btn span {
  vertical-align: baseline;
}
.btn.big {
  font-size: 18px;
  height: auto;
  padding: 0px 12px;
}
a.link {
  color: blue;
  text-decoration: underline;
}
.right {
  float: right;
}
.icon-wrapper {
  vertical-align: top;
  width: 70px;
  font-size: 50px;
  display: inline-block;
  color: #555;

  i {
    margin-top: -3px;
  }
}
.error-wrapper {
  display: inline-block;
  width: 80%;
}
div.error-page-content {
  max-width: 650px;
  margin: auto;
  transform: translateX(-20px);
  margin-top: 30vh;
  color: #777;
  font-size: 14px;
}
div.error-page-content .description {

  p {
    margin: 20px 0;
  }
}
div.error-page-content i {
  margin-right: 5px;
}
p.big {
  font-size: 18px;
}
.icon {
  float: right;
}
li {
  margin-bottom: 0.5em;
}
li:last-child {
  margin: 0;
}
.footer {
  font-size: 14px;
  color: #777;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
#his {color: #057fa7;}
</style>
<div class="history-page">
	<center>
		<img src="../assets/icons/icon.png" width=100px>
		<h1>
			Saturn history
		</h1>
    <p id="con"></p>
    <div id="his"></div>
	</center>
	<script>
		let history = localStorage.getItem('history');
    let all = localStorage.getItem('historyall');

    if (history == null) {
    	localStorage.setItem('history', 'no');
      con.innerHTML = 'The history is not enable, you can enable it in the settings'
    } else if (history == 'no') {
      con.innerHTML = 'The history is not enable, you can enable it in the settings'
    } else {
      all = all.replace(/!/g, '">')
      all = all.replace(/\|\|/g, '</a></p><p><a href="')
      his.innerHTML = all;
      con.innerHTML = 'The history is enable, you can not enable it in the settings'
    	///
    }
	</script>
</div>